<p>{{quote.author}} </p>
    <div class="four wide column center aligned votes">
      <div class="ui statistic">
        
        <div class="value">
          {{ votes }}
        </div> 
        <div class="label">
          Votes:
        </div>
    
      </div>
    
    </div>
    
    <div class="twelve wide column">
    
      <ul class="ui big horizontal list voters">
        <li class="item">
          <a href (click)="likeVote()">
              <i class="fa fa-thumbs-down"></i>
            upvote
          </a>
        </li>
    
        <li class="item">
          <a href (click)="dislikeVote()">
              <i class="fa fa-thumbs-up"></i>
            downvote
          </a>
        </li>
    
      </ul>
    </div>
